@media (min-width: 0px) {
    .grid-container {
        /*border: 1px solid red; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo nav"
            "menuButton menuButton"
            "container container"
            "footer footer";
    }

    body {
        background-image: none;
        height: 90vh;
        font-size: 18px;
    }

    .logo {
        grid-area: logo;
        height: 50vh;
    
    }
    
    .logoLeft {
        color: #ffffff;
        margin-top: 16%;
        margin-left: 13%;
        font-size: 1.5rem;
        position: relative;
        z-index: -2;
    }
    
    .menuHamburger {
        grid-area: nav;
        height: 50vh;
    
    }
    
    .burgerBtn {
        margin-top: 20%;
        margin-left: 65%;
        cursor: pointer;
        z-index: 1;
        position: relative;
    }

    .aboutUs {
        grid-area: container;
        height: 35vh;
        letter-spacing: 1px;
        text-align: left;
        width: 75%;
        padding-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        color: #84B59F;
    }
    
    .menuOpen1 {
        position: absolute;
        width: 85%;
        height: 80vh;
        top: 0;
        left: 0;
        font-size: 13px;
        background-color: #ffffff;
        color: #50808E;
        float: left;
        display: none;
        font-weight: 400;
        letter-spacing: 1.5px;
        padding-left: 15%;
        padding-top: 10%;
        z-index: 0;
        transition: 0.4s;
    }
    
    .menuOpen1 h1 {
        border-bottom: 2px solid #84B59F;
        margin-bottom: 5px;
        width: 80%;
    }
    
    .menuOpen1:hover {
        cursor: pointer;
    }
    
    .menuOpen {
        display: block;
    }
    
    a {
        text-decoration: none;
        color: #50808E;
    }
    
    a:active {
        text-decoration: none;
        color: #50808E;
    }
    
    .menuLine {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
    }
    
    .line1 {
        transform: rotate(-45deg) translate(-6px, 6px);
        background-color: #50808E;
        transition: 0.4s;
    }
    
    .line2 {
        transform: rotate(45deg) translate(0px, -3px);
        background-color: #50808E;
        transition: 0.4s;
    }
    
    .menuButtons {
        grid-area: menuButton;
        height: 30vh;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menuButtons2 {
        color: #84B59F;
        letter-spacing: 1.5px;
        float: left;
        border: 1px solid #84B59F;
        width: 70px;
        height: 20px;
        text-align: center;
        font-size: 10px;
        padding-top: 5px;
        margin-top: 7vh;
        margin-left: 5vh;
        cursor: pointer;
    }
    
    .menuButtons2:first-child {
        margin-left: 0vh;
    }
    
    
    .greenBall {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: #84B59F;
        float: left;
        margin-left: -8%;
        margin-top: 13px;
        z-index: 2;
    }
    
    .menuButtons2:hover {
        color: #ffffff;
        background-color: #84B59F;
    }
    .products {
        grid-area: container;
        height: 75vh;
        letter-spacing: 0.5px;
        text-align: left;
        width: 75%;
        padding-top: 5vh;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        grid-area: footer;
        height: 3vh;
        margin-left: auto;
        margin-right: auto;
        font-size: 8px;
        margin-top: 80%;
        color: #84B59F;
    }

    /* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #84B59F;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #50808E;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}

@media (min-width: 520px) {
    .burgerBtn {
        margin-top: 3%;
    }
}
@media (min-width: 850px) {
    .burgerBtn {
        margin-top: 3%;
    }
    .slideshow-container {
        margin-top: -15%;
      }
      .aboutUs {
          width: 60%;
          height: 75vh;
      }

    }
